
.checkbox{
    width: fit-content;
    align-self: baseline;
    font-size: 18px;
    margin: 10px 0px;
}
.msg{
    margin: 0px;
    width: -webkit-fill-available;
    font-size: 10px;
}
.para{
    margin: 0px 10px;
}